
:root {
  --primary: #D4413D !important;
  --primary-hover: #e25b56 !important;
}

.description-text {
  margin-top: 20%;  
}

.content-divider {
  margin-bottom: 50px;
}

#footer-text {
  text-align: center;
}

#footer-links {
  text-align: center;
}

#intro {
  margin-top: 75px;
}

#my-projects {
  /*move to the right side of the screen*/
  margin-left: auto;
}

#logo {
  background: url(./images/BA-Logo.png) no-repeat center center;
  background-size: cover;
  height: 56px;
  width: 120px;
  margin-right: 10px;
}

#toTop {
  height: 50px;
  width: 50px;
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #D4413D;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 2rem;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
  padding-top: 0px;
  padding-left: 13px;
  }
  
  #toTop a {
  color: white;
  }
  
  #toTop:hover {
  background-color: #e25b56;
  transition: all 0.2s ease-in-out;
  }

  #my-project-text-mobile {
    display: none;
  }
  
  html {
    scroll-behavior: smooth;
  }

  @media screen and (max-width: 992px) {
    #my-project-text-desktop {
      display: none
    }
    #my-project-text-mobile {
      display: block;
    }
    .description-text {
      margin-top: 0px;
    }
  }
    
  